<!--
http://www.tabsicons.com
https://thenounproject.com/olamoller/
-->
<script type="text/javascript">
    $(document).ready(function () {
        var currentSection = 0;
        var previousScrollValue = 0;
        var _preventEvent = false;
        $(window).keydown(function (e) {
            if (_preventEvent || !(e.which === 40 || e.which === 38)) { return; }
            _preventEvent = true
            if (e.which === 40) {
                (currentSection === 3 ? currentSection = 3 : currentSection++);
            }
            if (e.which === 38) {
                (currentSection === 0 ? currentSection = 0 : currentSection--);
            }
            var section = $('#section' + currentSection)[0];
            $('html, body').animate({
                scrollTop: (currentSection !== 0) ? $('#section' + currentSection)[0].offsetTop : 0
            }, 800, function () {
                window.location.hash = (currentSection !== 0) ? section.id : "";
                _preventEvent = false;
            });
        });
    });

</script>
<div class="banner-image" id="section0">
    <div class="vertical-center">
        <h1 class="app-title">The Words APP</h1>
        <div class="banner-text">Make learning of words simple.</div>
    </div>
</div>
<div class="jumbotron" id="section1">
    <div class="vertical-center">
        <p class="lead main-content">
            The Words App is a simple but highly effective application for learning new words.</br>
            Basing on our own experience with other applications in the past we have created a tool that includes all features which were important and useful while getting to know new words.</br>
            We release this version with great hope that our methods will help also you to learn thousands of specific words from a given language.</br>
            Choose one of numerous language combinations to obtain your learning objective.</br>
            It doesn't matter where you are! Learn at home, school or work, in a cafe or a park, commuting or waiting in a queue. The application is available on you desktop device and on mobile.</br>
            If you haven't already done so, register now and use this genious free tool to gain the knowledge you need!</br>
        </p>
        @if (!Request.IsAuthenticated)
        {
            <div class="home-buttons">
                <div class="home-login-button">@Html.ActionLink("Login", "Login", "Account")</div>
                <div class="register-container">
                    <div class="home-register-button">@Html.ActionLink("Register", "Register", "Account")</div>
                </div>
            </div>
        }
        else
        {
            <div class="learn-button">@Html.ActionLink("Learn", "Learn", "Home")</div>
        }
    </div>
</div>
<div class="features-content" id="section2">
    <div class="vertical">
        <div class="row">
            <div class="col-md-4">
                <div class="desc-container">
                    <h2><img class="icon" src="~/Images/horseChess.PNG" />Change your tactic</h2>
                    <p>
                        Select your learning tactic. Start with choosing the option to get to know more and more new words.
                        After a time switch to a method that stabilizes your understanding of formerly presented words.
                        You are able to change a tactic anytime you want during you learning process.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="desc-container">
                    <h2><img class="icon" src="~/Images/Skip-Forward.png" />Skip known words</h2>
                    <p>
                        Review a wide range of vocabulary within the application.
                        Select them all or pick only the ones that seem the most relevant to you.
                        There is a possibility to skip words just at the beginning or later when the certain word is no longer difficult for you.
                        The skipped words won't disappear totally.
                        You will be asked to repeat them once in a time to consolidate.
                    </p>
                </div>

            </div>
            <div class="col-md-4">
                <div class="desc-container">
                    <h2><img class="icon" src="~/Images/chart_line.png" />Check your progress</h2>
                    <p>
                        You will obtain a continuous access to the statistics of your learning process. 
                        Check it regularly to monitor your progress and keep motivated.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-contener" id="section3">
    <div class="row">
        <h2>Do you have any comment? Contact us!</h2>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <p>
                Ping a message in any case. If you noticed an error, you have advice how to change a tool or just be in contact with us.
                <a href="mailto:mkm17apps@gmail.com?Subject=The%20words%20app" target="_top">Send Mail to mkm17apps@gmail.com</a>
            </p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
<div class="absolute-object"></div>
<!-- /ko -->
