<!-- ko with: home -->
<!--
http://www.tabsicons.com
    
-->
<style>
    .icon{
        width:48px;
        height 48px;
    }
</style>
<div class="jumbotron">
    <h1>The Words APP</h1>
    <p class="lead">The Words app is a simple web application to learn new words in several languages.</p>
    <div>
        <div>@Html.ActionLink("Login", "Login", "Account")</div>
        <div>@Html.ActionLink("Register", "Register", "Account")</div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2><img class="icon" src="~/Images/Skip-Forward.png"/>Skip known words</h2>
        <p> Review a rich vocabulary of the application and select only those which are the most relevant for you.</p>

    </div>

    <div class="col-md-4">
        <h2><img class="icon" src="~/Images/package_games_board.png" />Change your tactic</h2>
        <p>Select your current learning tactic. At the beginning learn more new words. After some time change a method for preserving your words.</p>
    </div>

    <div class="col-md-4">
        <h2><img class="icon" src="~/Images/chart_line.png" />Check your progress</h2>
        <p>You will obtain continuously access to statistic of your learning process.</p>
    </div>
</div>
<div class="row">


</div>
<!-- /ko -->
